@{
    ViewData["Title"] = "Confirm Box";
}


<div class="card text-center">
  <div class="card-header">Person details</div>
  <div class="card-body">
    <p class="card-text">
      @ViewBag.Message
    </p>
    <a class="btn btn-primary" asp-action="Index">Ok</a>
  </div>
</div>