@model asp_a2.Models.PersonModel;

@{
    ViewData["Title"] = "Edit page";
}

<h1>This is update person page</h1>

<h4>Person</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" type="text"/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" type="text"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" type="text"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" type="text"/>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" type="text"/>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" type="text"/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthPlace" class="control-label"></label>
                    <input asp-for="BirthPlace" class="form-control" type="text"/>
                    <span asp-validation-for="BirthPlace" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsGraduated" class="control-label"></label>
                    <select asp-for="IsGraduated" class="form-select">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="IsGraduated" class="text-danger"></span>
                </div>
                <div>

                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to list</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}